body {
	margin: 0px;
	padding: 0;
	background: #2E0815 url(../images/background.png) repeat;
	text-align: justify;
	font-family:  Tahoma, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
}

h1, h2, h3 {
	margin-top: 0;
}

h1 {
	font-size: 1.6em;
	font-weight: normal;
}

h2 {
	font-size: 1.6em;
}

h3 {
	font-size: 1em;
}

ul {
}

a {
	text-decoration: none;
	color: #FFFFFF;
}

a:hover {
	border-bottom: none;
}

a img {
	border: none;
}

img.left {
	float: left;
	margin: 0 20px 0 0;
}

img.right {
	float: right;
	margin: 0 0 0 20px;
}

#header-wrapper {
	width: 100%;
	height: 300px;
	/*background: url(../images/img01.gif) repeat-x left top;*/
}

#header {
	width: 940px;
	margin: 0 auto;
	height: 300px;
}

/* Header */

#logo {
	width: 940px;
	height: 300px;
	margin: 0 auto;
	background: #FFFFFF;
}

#logo h1, #logo p {
	margin: 0;
	padding-left: 100px;
	color: #FFFFFF;
}

#logo span {
	color: #FFFFFF;
}

#logo h1 {
	padding: 25px 0 0 0;
	letter-spacing: -1px;
	text-transform: lowercase;
	font-weight: normal;
	font-size: 4.8em;
}

#logo p {
	text-transform: lowercase;
	padding: 4px 0 0 3px;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 22px;
	color: #FFFFFF;
}

#logo a {
	border: none;
	text-decoration: none;
	color: #FFFFFF;
}

/* Menu */

#menu-wrapper {
	width: 100%;
	height: 50px;
	/*background: url(../images/img02.gif) repeat-x left top;*/
}

#menu {
	width: 940px;
	margin: 0 auto;
	height: 32px;
	padding: 0px;
	background: url(../images/menu_bar.png) repeat-x;
}

#menu ul {
	margin: 0;
	padding: 10px 0px 0px 100px;
	list-style: none;
}

#menu li {
	float: left;
	display: inline;
}

#menu a {
	height: 30px;
	margin: 0;
	padding: 10px 20px;
	text-decoration: none;
	text-transform: capitalize;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FFFFFF;
}

#menu a:hover {
	color: #EAEAEA;
}

#menu .current_page_item a {
	text-decoration:underline;
}

/* Wrapper */

#wrapper {
	width: 100%;
	margin: 0px;
	padding: 0px;
}

/* Page */

#page {
	width: 940px;
	margin: 0px auto 0px auto;
	padding: 0px;
	background: #632c42 url(../images/inner_gradient.png) repeat-x left top;
	color: #FFFFFF;
}

#page-bgtop {
	/*background-color:#632c42;*/
	/*background: url(../images/img05.gif) no-repeat left top;*/
}

#page-bgbtm {
	background-color:#632c42;
	/*background: url(../images/img07.gif) no-repeat left bottom;*/
	padding: 0px 20px;
}

/* Latest Post */

#latest-post {
	padding: 20px;
	border: 1px solid #E7E7E7;
}

/* Content */

#content {
	float: left;
	width: 400px;
	margin: 0;
	padding:30px 0 0 0;
}

.post {
	padding-bottom: 15px;
	line-height: 200%;
	/*background: url(.../images/img10.gif) no-repeat right 18px;*/
}

.post h1 {
	font-weight:bold;
	font-family: "Trebuchet MS", Georgia, "Times New Roman", Times, serif;
	font-size:18px;
}

.title {
	margin: 0;
	padding: 30px 0 4px 0px;
	text-transform: lowercase;
	font-family: "Trebuchet MS", Georgia, "Times New Roman", Times, serif;
	font-size: 30px;
	font-weight: normal;
}

.title a {
	border-bottom: none;
	color: #FFFFFF;
}

.byline {
	margin: -4px 0px 20px 0px;
	padding: 4px 2px;
	background: url(../images/img08.gif) repeat-x left bottom;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #D1567B;
}

.byline a {
	color: #FFA1BD;
}

.tag {
	padding: 0 15px;
}

.entry {
	padding: 0px 0px;
	color: #ffffff;
	font-family: Verdana, Geneva, sans-serif;
	font-size:12px;
}

.links {
	width: 80px;
	height: 33px;
	text-align: right;
	font-weight: bold;
}

.links a {
	display: block;
	height: 25px;
	padding-top: 8px;
	text-align: left;
	color: #FFFFFF;
}

.links a:hover {
}

/* Sidebars */

#sidebar1 {
	float: left;
	width: 150px;
	padding:20px 25px 0px 60px;
}

#sidebar1 a {
	float: left;
	padding:0;
}

#sidebar2 {
	float: right;
	width: 220px;
	padding:20px 60px 0px 25px;
}

.sidebar {
	float: left;
	color: #FFA1BD;
}

.sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.sidebar li {
	padding: 0 0 20px 0;
}

.sidebar li ul {
	background: none;
	padding-bottom: 20px;
}

.sidebar li li {
	margin: 0px 15px;
	padding: 8px 0px;
}


.sidebar li h2 {
	height: 26px;
	margin: 0 0 0 0;
	padding: 14px 15px 14px 15px;
 	background: url(../images/img08.gif) repeat-x left bottom;
	text-transform: capitalize;
	font-size: 22px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	color: #FFFFFF;
}

.sidebar a {
	/*padding-left: 15px;*/
	/*background: url(../images/img09.gif) no-repeat left 5px;*/
	color: #FFFFFF;
}

/* Search */

#searchform {
	padding: 20px;
	border:1px solid #ffffff;
}

#searchform br {
	display: none;
}

#searchform p {
	text-align:left;
	color:#ffffff;
	text-transform:capitalize;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight: normal;
}

#searchform input{
	font-size: 12px;  
  border: 1px solid #666666;
	width: 170px;
	height: 20px;
	margin-top:5px;
}

#searchform select{
	font-size: 12px;  
  border: 1px solid #666666;
	width: 170px;
	height: 20px;
	margin-top:5px;
}

#searchform textarea{
	font-size: 12px;  
  border: 1px solid #666666;
	width: 170px;
	margin-top:5px;
}

#searchform .button{    
  font-family: Verdana, Arial, Helvetica, sans-serif;    
  background-color: #f8f8f8;
	border:1px solid #ffffff;
  color: #400000;
	width:80px;
	height:25px;
	margin-left:50px;
	padding-bottom:2px;
}

#s {
	margin: 10px 0px 0 15px;
	padding: 2px 2px;
	width: 165px;
	height: 18px;
	border: 1px solid #CCCCCC;
	background: #FFFFFF;
	font-size: 10px;
	color: #000000;
}

#x {
	margin: 0;
	padding: 2px 5px;
	height: 25px;
	background: #CA8186;
	text-decoration: none;
	text-transform: uppercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #CCCCCC;
}
/* Stories */

#stories {
	margin-top:15px;
	padding: 5px 0px;
}

#stories p {
	margin-top:15px;
	color:#ffffff;
	text-align:justify;
	line-height:150%;
	font-size:11px;
}

#stories a {
	margin-top:15px;
	color:#00ff00;
	text-align:justify;
	line-height:150%;
	font-size:11px;
}

#stories img {
margin-left:10px;
}

/* Footer */

#footer-wrapper {
	width: 100%;
	height: 100px;
	/*background: url(../images/img04.gif) repeat-x left top;*/
}

#footer {
	width: 900px;
	height: 70px;
	margin: 0 auto;
	padding: 0 20px;
	background-color: #632c42;
}

#footer p {
	margin: 0;
	padding: 30px 0 0 0;
	text-align: center;
	text-transform: uppercase;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	color: #FFA1BD;
}

#footer a {
	color: #D1567B;
}

#footer .link {
}

#footer .copyright {
}
